body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            transition: background-color 5s, color 0.3s;
        }
        body.dark-mode {
            background-color: #333;
            color: #fff;
        }
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1rem;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 2rem;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
        }
        a {
            text-decoration: none;
            color: #333;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1rem;
            position:no-fixed;
            bottom: 0;
            width: 100%;
        }
        
        select, #download-button {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        }
        .login-container {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .login-container input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        }
        button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        }
        media (max-width: 600px) {
        .container {
        padding: 1rem;
        }
        }
        h1{

            background-color: black;
            color: white ;
        }
         h2{
            background-color: red;
            color:aqua ;
         }